* {

    color: #FFF4DD;
    font-family: lexend;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  
    text-decoration: none;
  }
  
  :root {
    --blue: rgb(105, 19, 13);
    --blue_low_opacity_background: rgba(30, 73, 153, 0.9);
    --lachs: rgb(255, 190, 179);
    --light_yellow: rgb(255, 244, 221);
    --grey: rgb(211, 206, 211)
  }
  
  body {
    background-color: var(--blue_low_opacity_background);
    }
  
    @font-face {
      font-family: sansita;
      src:url(/fonts/sansita_swashed.ttf);
      font-style: normal;
    }
  
    @font-face {
      font-family: lexend;
      src: url(/fonts/lexendzetta.ttf);
      font-style: normal;
    }