* {

  color: #FFF4DD;
  font-family: lexend;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  text-decoration: none;
}

:root {
  --blue: rgb(105, 19, 13);
  --blue_low_opacity_background: rgba(30, 73, 153, 0.9);
  --lachs: rgb(255, 190, 179);
  --light_yellow: rgb(255, 244, 221);
  --grey: rgb(211, 206, 211)
}

body {
  background-color: var(--blue_low_opacity_background);
  }

  @font-face {
    font-family: sansita;
    src:url(/fonts/sansita_swashed.ttf);
    font-style: normal;
  }

  @font-face {
    font-family: lexend;
    src: url(/fonts/lexendzetta.ttf);
    font-style: normal;
  }

.title {
  color: var(--light_yellow);
  text-align: center;
  font-family: sansita;
  font-size: 45px;
  margin-top: 50px;
} 

.undertitle {
  color: var(--lachs);
  text-align: center;
  font-family: lexend;
  font-size: 20px;
}

.slogan {
  color: var(--grey);
  text-align: center;
  font-family: lexend;
  font-size: 11px;
}

.mountain{
  position: absolute;
  left:50%;
  margin-left:-500px;
  width: 1000px;
  z-index: -1;
}

nav {
  background-color: var(--lachs);
  width: 0;
  position: absolute;
  right: 0;
  height: 230px;
  border-radius: 25px;
  transition: 0.5s;
  z-index: 50;
   

}

.nav_links a {
  display: block;
  margin: 5px;
  padding: 3px;
}

#burger {
  display: block;
  text-align: right;
  margin-right: 15px;
}

.phone {
  display: none;
}

.intro {
  position: relative;

  text-align: center;

}

.intro p{
  font-size: 15px;
  margin: 30px;
  margin-bottom: 60px;

}

.mountain-container {
  order: -1; /* Bild wird standardmäßig vor den anderen Inhalten angezeigt */
}

#logo {
  display: none;
}

.content {
  margin-top: 400px;
}


.text-container a div{
  
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.20);
  
  text-shadow: 2px 2px #1E4999;
  
  padding: 20px;

  margin: 30px;

  color: var(--lachs);
  font-size: 15px;

  width: 250px;

  text-align: center;

}

.text-container  div a{
  
  position: relative;

}

.text-element {

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; 
}

.Bergregionen {

  padding:0px;
  text-align: center;
 

  
}

.text-Bergregionen {
  
  position: absolute;
  bottom: 50%;
  left: 15%;

  color: var(--lachs);
  font-size: 18px;
  text-shadow: 2px 2px #1E4999;

}

.Bergregionen img {

  width: 290px;
  border-radius: 25px;
}

.text-element a:hover{
  transform: scale(1.1);
}

.Bergregionen:hover {
  transform: scale(1.1);
}

@media(min-width:1000px) {

  .nav_links {
    position: relative;
    display: flex;
    justify-content: center;
    left: 70%;
    height: auto; 
    width: 0px !important;
    transition: 0s;
    margin-top: 15px;

  }

  .nav_links a {
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.20);
    font-family: sansita;
    font-size: 15px;
    padding: 20px;
    flex-shrink: 0;
    margin: 0 50px 0 0;
    
  }

  #burger {
    display: none;
  }

  #nav_closer {
    display: none !important;
  }

  .nav_links a:hover {
    transform: scale(1.1);
  }

  .mountain {
    display: none;
  }

  body {
    background: 
      linear-gradient(rgba(30, 73, 153, 0.9), rgba(30, 73, 153, 0.9)), /* Halbtransparente Farbe */
      url(/img/mountain.png) 50%/ cover no-repeat;
  }

  .title {
    font-size: 80px; 
  }

  .undertitle {
    font-size: 40px; 
  }

  .slogan {
    font-size: 18px; 
  }


  .front{
    display: flex; 
    justify-content: center;
    padding: 0 50px;
    margin-top: 30px;
  }

  .phone {
    display: block;
    margin-left: 120px;
    width: 300px; /* Feste Breite */ 
    
  }

  .title_all {

    flex-direction: column; 
    align-items: center; 
    text-align: center;
   
  }

  .intro {
    position: relative;
    top: 0;
  
  }

  .intro p{
    font-size: 20px;
  
  }
  
  #logo {
    position: absolute;
    background: none;
    font-family: lexend;
    display: block;
    margin-top: 15px;
    margin-left: 30px;
  }

  #logo:hover {
    color: var(--lachs);
  }

  .content {
    margin-top: 50px;
  }


  .text-container {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }

  
  .text-Bergregionen {
    
    position: absolute;
    bottom: 25px;
    left: 15px;
    font-size: 22px;
  }
  
  .Bergregionen img {
  
    width: auto;
    height: 350px;
  }

  .text-element{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

}

@media (min-width:1260px) {

  .text-container{
  justify-content: space-between; 
  }

  .text-container a div{
    width: auto;
  }


  .text-element{

    flex-direction: row;
    transform: translate(-20%, -0%);
   
  }

  body {
    width: 1260px;
    margin: auto;
  }

}

html,body{
  height: 100%
}