:root {
    --blue_low_opacity_background: rgba(30, 73, 153, 0.9);
    --lachs: rgb(255, 190, 179);
    --light_yellow: rgb(255, 244, 221);
    --grey: rgb(211, 206, 211)
  }

/* Footer Styling */
footer {
    background-color: rgba(88, 107, 143, 0.79); /* Transparenter Blauton */
    text-align: center;
    padding-top: 15px; /* Innenabstand oben */
    padding-bottom: 20px; /* Innenabstand unten */
    border-radius: 25px; /* Abgerundete Ecken */
    background-image: url(/img/Vector\ 5.svg); /* Hintergrundbild */
    background-repeat: repeat-x; /* Bild horizontal wiederholen */
    background-position: bottom; /* Positioniert das Bild am unteren Rand */
    position: relative;

}

/* Stil für die Footer-Titel */
.titel_footer {
    font-family: sansita; /* Schriftart */
    color: var(--light_yellow); /* Sandfarbener Text */
    font-size: 22px; /* Schriftgröße */
    margin: 0px; /* Kein Abstand außerhalb des Titels */
}

/* Stil für die Untertitel */
.untertitel_footer {
    font-size: 12px; /* Schriftgröße */
    letter-spacing: -2.5px; /* Geringerer Buchstabenabstand */
    color: var(--blue_low_opacity_background); /* Blauer Farbton */
    background-color: var(--lachs); /* Hintergrund in Lachsfarbe */
    padding: 10px 10px; /* Innenabstand */
    border-radius: 20px; /* Abgerundete Ecken */
    display: inline-block; /* Rahmen passt sich der Textgröße an */
    margin: 10px; /* Abstand */
}

/* Hover-Effekt für Untertitel */
.untertitel_footer:hover {
    transform: scale(1.1); /* Leichte Vergrößerung beim Hover */
}

/* Container für die Icons */

.icon-container{
    display:flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 15px;
}

.icon-elemente{
    width:50px;
    height:50px;
}

.icon{
    height:75%;
}

/* Hover-Effekt für die Footer-Icons */
.icon:hover {
    transform: scale(1.1); /* Vergrößerung beim Hover */
}

.copyright {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blue_low_opacity_background);
    position: absolute;
    bottom: 0;  
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
}


/* Media Queries für Desktops (große Bildschirme) */
@media (min-width: 1000px) {
    footer {
        display: flex;
        justify-content: space-between; /* Verteilung der Elemente */
        
        position: relative;
    }

    .titel_footer {
        font-size: 32px; /* Größere Schrift für Desktop */
        margin: 10px; /* Leichter Abstand */
        text-align: right;
        margin-right: 160px;
    }

    .untertitel_footer {
        font-size: 20px; /* Größere Schrift für Desktop */
        padding: 10px 25px; /* Mehr Innenabstand für Desktop */
        text-align: right;
        margin-right: 187px;
    }

    .icon-container{
        display: block;
        padding-left: 10px; /* Innenabstand links */
        padding-bottom: 20px;
        order: -1; /* Icons erscheinen vor den Texten */
        margin-top: 0px;
    }
    
    .icon-elemente{
        margin-bottom: 10px;
    }
    .icon{
        height:100%;
    }

    .copyright {
        text-align: right;
        margin-right: 260px;
    }

}

/*Footer immer ganz unten*/
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex:1;
}
