:root {
    --blue_low_opacity_background: rgba(30, 73, 153, 0.9);
    --lachs: rgb(255, 190, 179);
    --light_yellow: rgb(255, 244, 221);
    --grey: rgb(211, 206, 211);
}

.title_site {
    color: var(--lachs);
    text-align: center;
    font-size: 25px;
    margin-top: 30px;
  }

/* Basis-Styles */
.picture-container {
    display: flex;
    margin-top: 50px;

}

.element {
    width: 200px;
    height: 250px;
    margin: 10px;
    position: relative;
}

.picture {
    width: 75%;
    max-width: 350px;
    height: 100%;
    border-radius: 25px;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.element h1 {
    position: absolute;
    top: 10px;
    color: var(--lachs);
    text-shadow: 2px 2px #1E4999;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.überschrift h2 {
    color: #FFBEB3;
    text-shadow: 2px 2px #1E4999;
    text-align: center;
    margin-top: 30px;
}

.beschrieb p {
    color: var(--light_yellow);
    text-align: center;
    font-size: 15px;
    margin: 20px auto;
    max-width: 600px;
}

/* Responsiveness */

/* 1. Mobile (max-width: 600px) */

.picture-container {
    flex-direction: column; /* Elemente untereinander */
    align-items: center;
}

.element {
    width: 90%; /* Volle Breite des Containers */
    height: auto;
}

.element h1 {
    font-size: 16px;
}

.back_to_button {
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.20);
    text-shadow: 2px 2px #1E4999;
    padding: 15px;
    margin: 50px;
    width: 200px;
  
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.back_to_button a div { 
    font-size: 15px;
    text-align: center;
    color: var(--lachs);  
}

.back_to_button:hover {
    transform: scale(1.1);
}

/* 2. Tablet/iPad (max-width: 1000px) */
@media (min-width: 1000px) {
    .title_site {
        font-size: 50px;
      }

    .picture-container {
        flex-direction: row; /* Elemente bleiben nebeneinander */
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 100px;
    }

    .element {
        width: 45%; /* Zwei Elemente pro Zeile */
        height: 90%;
    }

    .element h1 {
        font-size: 18px;
    }

    .beschrieb p {
        font-size: 20px;
    }

    .back_to_button{
        font-size: 20px;
    }
}

/* 3. Desktop (min-width: 1260px) */
@media (min-width: 1260px) {
    .picture-container {
        margin-right: 30px;
        margin-left: 0px;
    }

    .element {
        width: 200px; /* Ursprüngliche Größe */
        height: 250px;
    }

    .element h1 {
        left: 120px;
    }

    .überschrift h2 {
        font-size: 24px;
    }

    .picture{
        width: auto
    }
}
