* {

color: #FFF4DD;
font-family: lexend;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;

text-decoration: none;
}

:root {
--blue: rgb(105, 19, 13);
--blue_low_opacity_background: rgba(30, 73, 153, 0.9);
--lachs: rgb(255, 190, 179);
--light_yellow: rgb(255, 244, 221);
--grey: rgb(211, 206, 211)
}

body {
background-color: var(--blue_low_opacity_background);
}

@font-face {
    font-family: sansita;
    src:url(/fonts/sansita_swashed.ttf);
    font-style: normal;
}

@font-face {
    font-family: lexend;
    src: url(/fonts/lexendzetta.ttf);
    font-style: normal;
}

.titel.about{
    color: var(--lachs);
    text-align: center;
    font-size: 50px;
    font-style: normal;
    color: #FFBEB3;
    font-weight: 700;
    line-height: normal;
}
.bergtext{
    color: #FFF4DD;
    text-align: center;
    font-family: "lexend";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    /* margin-left: 4cm;
    margin-right: 4cm; */
}

.vorundnachname{
    max-width: 550px;
    color: #FFBEB3;
    font-size: x-large;
    text-align: center;
} 
.rolle{
    max-width: 550px;
    color: #FFBEB3;
    font-size: large;
    text-align: center;
    }

.informationen {
    max-width: 550px;
    font-size: medium;
    text-align: center;
}

.team{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.person{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 40px;
    justify-content: center;
    align-items: center;
    max-width: 430px;
}

.text{
    display: block;
    align-items: center;
    width: 100%;
    height: auto;
  
}

.img{
    max-width: 350px;
    max-height: 300px;
    display: block;
    width: 100%; /* Make the image responsive */
    margin-bottom: 10px; 
}

@media (min-width: 1550px) {
    .person{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-bottom: 60px;
        justify-content: center;
        align-items: center;
        min-width: 600px;
        height: auto;
    }

    .img{
        max-width: 1050px;
        max-height: 1000px;
        display: block;
        width: 100%; /* Make the image responsive */
        height: auto; /* Maintain the aspect ratio */
        margin-top: 10px; 
    }

    .text{
        display: block;
        align-items: center;
        width: 100%;
        height: auto;
    }

    .rolle{
        max-width: 550px;
        color: #FFBEB3;
        font-size: large;
        text-align: center;
        }

}
